<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Inventory and Order Management &copy; 2020 <a href="https://nevilparmar.me">Nevil</a>.</strong>
</footer>